._zoomOut:hover p,
._zoomOut:hover img {
    transition: 0.3s linear;
    transform: scale(1.2);
    color: var(--main-color);
}

._zoomIn:hover {
    transition: 0.3s linear;
    transform: scale(0.9);
    filter: opacity(0.8);
}

._zoomOut,
._zoomOut p,
._zoomIn,
._focus,
._zoomOut img {
    transition: 0.3s linear;
}

._focus:active,
._zoomIn:active {
    transition: 0.1s linear;
    filter: brightness(1.5);
}

#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

#loader::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-top: -20px;
    margin-left: -20px;
    border: 10px solid var(--main-color);
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: rotate(180deg);
        opacity: 0.2;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}