#reg{
    display: none;
    grid-template-areas: 
    "label" 
    "name"  
    "email"  
    "password"
    "confirm";
    grid-template-rows: repeat(20px, 4), 100px;
    width: 400px;
    height: 500px;
    z-index: 101;
    position: absolute;
    border: 1px solid var(--main-color);
    backdrop-filter: blur(50px);
    left: calc(100% - 1100px);
    position: fixed;
    top: 200px;
    justify-items: center;
    border-radius: 50px;
}

#reg button{
    width: 150px;
}

#productModal{
    display: none;
    width: 400px;
    height: 500px;
    z-index: 101;
    position: absolute;
    border: 1px solid var(--main-color);
    backdrop-filter: blur(50px);
    left: calc(100% - 1100px);
    position: fixed;
    top: 200px;
    justify-items: center;
    border-radius: 50px;
}

#blackOut{
    display: none;
    position: absolute;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 3273px;
    z-index: 100;
}

.openModal{
    overflow-y: hidden;
}